<div class="text-center font-mono bg-fuchsia-600 mb-2 p-2 text-amber-50">
  <h1>{{title}}</h1>
  <ul class="flex justify-center pt-2">
    <div>
      <li class="bg-fuchsia-700 hover:bg-fuchsia-800 border-2 border-amber-50 px-4 mr-3 rounded-2xl" routerLink = ''>
        Users
      </li>
    </div>
    <div>
      <li class="pr-3 bg-fuchsia-700 hover:bg-fuchsia-800 border-2 border-amber-50 px-4 rounded-2xl" routerLink = 'resources'>
        Resources
      </li>
    </div>
  </ul>
</div>

<router-outlet></router-outlet>
