<div class=" rounded-2xl lg:w-96 w-80 py-8 px-6 border border-fuchsia-600 md:mr-4 md:ml-0 mr-2 ml-2 mb-4">
  <div class="flex items-center">
    <img class="rounded-full mr-4  lg:w-40 lg:h-40 w-24 h-24 object-cover border-2 border-fuchsia-600" [src]="user.avatar" [alt]="user.first_name">
      <p class="font-mono font-semibold text-4xl truncate">{{user.first_name}}</p>
  </div>

  <div class="flex justify-center mt-4">
    <button class ="rounded-2xl bg-fuchsia-600 mr-2 py-1 lg:px-12 px-8 font-semibold text-amber-50 hover:bg-fuchsia-700" (click)="deleteUser()">Delete</button>
    <button class ="rounded-2xl bg-fuchsia-600 lg:py-2 lg:px-12 py-1 px-8 font-mono font-semibold text-amber-50 hover:bg-fuchsia-700" (click)="change(true, user)">More info</button>
  </div>
</div>





